<header class="px-4 py-3 border-b-2">
  <nav class="flex items-center justify-between">
  <a href="<%= categories_path %>">
    <img alt="Somesplash_logo" src="https://i.ibb.co/h22BWZQ/image-11.png">
  </a>
  <%= link_to "SEARCH", search_path , class: "text-xs px-2 py-1 bg-gray-100 tracking-widest rounded"%>
  </nav>
</header>