/* colors */
.white {
  color: #fff;
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.center-text {
  text-align: center;
}

/* Margins */
.mb-8 {
  margin-bottom: 2rem;
}

.mt-20 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
/* Flex & Grid */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-4 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

/* Width */
.fit-content {
  width: fit-content;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.05);
}
.place-heigth {
    height: 120px;
}

.color{
  color: var(--error-400);
}

.text-normal{
  text-transform: none;
}