.photo-card {
  padding: 0.5em 1em;
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
}

.photo-card__header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.photo-card__details {
  display: flex;
  flex-direction: column;
}

.photo-card__footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.photo-card__avatar {
  max-width: auto;
}

.photo-card__content {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-card__image {
  width: 100%;
}
