<section class="section">
  <div class="container">
    <h1 class="heading mb-4">Edit Category</h1>
    <%if @categories.errors.any? %>
      <h2>Errors: </h2>
      <div>
        <% @categories.errors.full_messages.each do |error_message| %>
          <p><%= error_message %></p>
        <%end%>
      </div>
    <%end %>
    <%=render "form", category: @categories%>
    <%=link_to("Back", categories_path, class: "button button--subtle")%>
  </div>
</section>
 